Django<1.9
djangorestframework<4
djangorestframework-jwt
django-rest-swagger
django-cors-headers
markdown
django-filter
six
psycopg2
django-nose
gunicorn
greenlet
eventlet
requests
coverage
django-jenkins
celery